.App {
  text-align: center;
  display: flex;
  width: 100%;
  margin: 0 20px 0 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.titulos{
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bestWeek{
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 20px 0 20px 0;
}

.bestWeek::-webkit-scrollbar-thumb {
    background: #475a6821;
}

.bestWeek::-webkit-scrollbar {
    width: 6px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
