.medias{
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  /*margin: 15px 0 15px 0;*/
}

.medias h6{
  text-align: left;
  /*margin: 15px 0 10px 0;*/
  font-size: 16px;
  padding: 0 10px 0 10px;
}
.bordeado{
  /*border: 1px solid grey;*/
  border-radius: 3px;
  margin: 10px 20px 15px 20px;
  width: 250px;
  height: calc(100% -25px);
}
.types{
  margin:10px 0 10px 0;
}
.medias img{
  width: 100%;
}

.medias p{
  margin: 10px;
  margin-top: 20px !important;
  font-size: 14px;
}

.fuente{
  font-family: 'Raleway', sans-serif;
}
.title{
  font-size: 15px;
  margin-bottom: 0;
  height: 34px;
}
p{
  text-align: left;
  font-size: 13px;
}
